<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RCB Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
  </head>
  <body class="container">
    <header></header>
    <main>
      <br/>
      <a class="btn btn-success" href="/admin.html">Back to Admin</a>
      <br/><br/>
      <section class="tableName">

      </section>
      <section class="tableList">

      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="./scripts/common.js"></script>
    <script src="./scripts/admin-db-table.js"></script>
    <script id="tables-template" type="text/x-handlebars-template">
      <table class="table table-hover">
        <thead>
          <tr>
            {{#each tableField}}
              <th scope="col">{{this}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
          <tr>
            {{#each this}}
              <td scope="row">{{this}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </script>
  </body>
</html>
