<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RCB Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
  </head>
  <body class="container">
    <header></header>
    <main>
      <br/>
      <section class="admin">

      </section>
      <section class="DBtables">

      </section>
      <p><br/>Raw postgresql query:</p>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">SQL query</span>
        </div>
        <textarea class="form-control" id="input-sql-query" placeholder="SELECT * FROM item_motor"></textarea>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" id="btn-send-raw-sql" type="button">Send</button>
        </div>
      </div>
      <section class="db-raw-response">

      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="https://cdn.rawgit.com/caldwell/renderjson/master/renderjson.js"></script>
    <script src="./scripts/common.js"></script>
    <script src="./scripts/admin.js"></script>
    <script id="admin-template" type="text/x-handlebars-template">
      <p>RCB Database Admin Panel: {{firstName}} {{lastName}}</p>
      <a class="btn btn-success" href="/">Home</a>
      <br/><br/>
    </script>
    <script id="tables-template" type="text/x-handlebars-template">
      <p>Database tables (click to see content):</p>
      <ul class="list-group">
        {{#each tables}}
          <li class="list-group-item"><a href="/admin-db-table.html?name={{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </script>
    <script id="db-raw-response-template" type="text/x-handlebars-template">
      <p><br/>Response:<br/></p>
      <div class="card">
        <div class="card-body" id="json-render">
        </div>
      </div>
    </script>
  </body>
</html>
