<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RCB Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
  </head>
  <body class="container">
    <header class="page-header">
      <h1>Dashboard</h1>
    </header>
    <main>
      <a class="btn btn-success" href="/">Home</a>
      <section class="user"></section>
      <section class="motors"></section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="./scripts/common.js"></script>
    <script src="./scripts/dashboard.js"></script>
    <script id="user-template" type="text/x-handlebars-template">
      <h1>Welcome {{firstName}} {{lastName}}!</h1>
      <p> {{email}} </p>
      {{#if isAdmin}}
        <a class="btn btn-warning" href="/admin.html">Admin Panel</a>
      {{/if}}
    </script>
    <script id="motors-template" type="text/x-handlebars-template">
        <p><br/><br/>My motors:</p>
        <ul class="list-group">
          {{#each motors}}
            <li class="list-group-item">{{this.common.manufacturer}} - {{this.common.model}}</li>
          {{/each}}
        </ul>
      </div>
    </script>
    <br/><a class="btn btn-danger" href="/logout.html">Logout</a>
  </body>
</html>
