<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RCB database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
  </head>
  <body class="container">
    <header class="page-header">
      <h1>Welcome to the RCbenchmark database</h1>
    </header>
    <section class="navigation"></section>
    <section class="motors"></section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript">
      //redirectIfLoggedIn();
    </script>
    <script id="motors-template" type="text/x-handlebars-template">
        <p><br/><br/>Publicly listed motors:</p>
        <ul class="list-group">
          {{#each motors}}
            <li class="list-group-item">{{this.common.manufacturer}} - {{this.common.model}}</li>
          {{/each}}
        </ul>
      </div>
    </script>
    <script id="navigation-template" type="text/x-handlebars-template">
        {{#if id}}
          <a class="btn btn-success" href="/dashboard.html">Dashboard</a>
        {{else}}
          <a class="btn btn-warning" href="/login.html">Login</a>
          <a class="btn btn-success" href="/signup.html">Signup</a>
        {{/if}}
    </script>
  </body>
</html>
